.container {
    padding: 3rem;
}
.boton {
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 5px;
  
    &:hover {
        text-decoration: underline;
    }
}

.box {
    background-color: red;
    display: block;
    height: 10px;
}

.error-message {
    color: red;
    opacity: 0;
    transition: all linear 0.5s;
}
.error-message.show {
    opacity: 1;
}

